@import 'colores';

.pie__global {
    background-color: $dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        margin: 1vw 0vw 0vw 0vw;
        font-size: 1.5vw;
        text-decoration: none;
        color: $light;
        img {
            width: 1.5vw;
        }
        &:hover {
            filter: invert(65%) sepia(89%) saturate(319%) hue-rotate(345deg) brightness(92%) contrast(86%);
        }
    }
    p {
        margin: 1vw 0vw 1vw 0vw;
        font-size: 1.5vw;
        color: $light;
    }
}
@media screen and (max-width: 768px) {
    .pie__global {
        a, p {
            font-size: 2.5vw;
            img {
                width: 2.5vw;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .pie__global {
        a, p {
            font-size: 3vw;
            img {
                width: 3vw;
            }
        }
    }
}