@import 'colores';
@import 'header';
@import 'footer';

// Mixin

@mixin display($tipo, $direccion) {
  display: $tipo;
  justify-content: $direccion;
}

// Sección central del sitio

// Index

.medio__index {
  background-image: url(../img/fondo-madera.jpg);
  background-size: cover;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  @include display(flex, space-evenly)
}
.medio__titular {
  margin: 1vw 0vw 3vw 0vw;
  padding: 10px;
  background-color: bisque;
  border-radius: 10px;
}
.medio__wsp {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 790px;
  margin-left: 1780px;
  img {
    width: 200px;
  }
}
// Carta

.medio__carta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 8vw;
    background-image: url(../img/fondo-madera.jpg);
    background-size: cover;
    padding: 7vw 5vw;
    img {
        width: 35vw;
  }
}
.carta__menu {
  width: 350px;
  height: 350px;
  perspective: 2000px;
  .carta__efecto {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
  }
  .carta__frente, .carta__atras {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    backface-visibility: hidden;
    color: $light;
  }
  .carta__frente {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carta__atras {
    font-size: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 5vw;
    background-color: $dark;
    transform: rotateY(180deg);
  }
  &:hover .carta__efecto {
    transform: rotateY(-180deg);
  }
}
.medio__oferta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    background-image: url(../img/fondo-madera.jpg);
    background-size: cover;
    padding: 9vw 5vw;
    img {
        width: 35vw;
  }
}
.oferta__menu {
  width: 350px;
  height: 350px;
  perspective: 2000px;
  .oferta__efecto {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
  }
  .oferta__frente, .oferta__atras {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    backface-visibility: hidden;
    color: $light;
  }
  .oferta__frente {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .oferta__atras {
    font-size: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 5vw;
    background-color: $dark;
    transform: rotateY(180deg);
  }
  &:hover .oferta__efecto {
    transform: rotateY(-180deg);
  }
}

// Ofertas

.medio__carrito {
  background-image: url(../img/fondo-madera.jpg);
  background-size: cover;
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  p {
      margin: 0;
      font-weight: bold;
      text-align: center;
  }
}

// Nosotros

.medio__nosotros {
  background-image: url(../img/fondo-madera.jpg);
  background-size: cover;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw 2vw;
  .medio__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    background-color: bisque;
    border-radius: 2.5%;
    padding: 30px;
    p {
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 1.5vw;
      font-weight: 900;
    }
  }
}

// Contacto

.medio__contacto {
  background-image: url(../img/fondo-madera.jpg);
  background-size: cover;
  padding: 2vw 10vw;
  display: flex;
  label {
      font-size: 1vw;
      font-weight: bolder;
      color: $dark;
  }
  input {
      font-size: 1vw;
      font-weight: bold;
  }
  select {
      font-size: 1vw;
  }
  option {
      font-size: 1vw;
  }
  button {
      font-size: 1vw;
      font-weight: bold;
  }
}

// Responsive

@media screen and (max-width: 768px) {
  .medio__index {
    display: flex;
    align-items: center;
    height: 100vh;
    .medio__wsp {
      margin-top: 78vh;
      margin-left: 90vw;
      img {
        width: 15vw;
      }
    }
    .medio__titular {
      font-size: 5vw;
      font-weight: 900;
      text-align: center;
      margin-bottom: 2vw;
    }
  }
  .medio__carta {
    gap: 10vw;
    padding: 10vw 1vw;
  }
  .carta__menu {
    width: 300px;
    height: 300px;
  }
  .medio__oferta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vw;
    padding: 10vw 1vw;
  }
  .oferta__menu {
    width: 300px;
    height: 300px;
  }
  .medio__carrito {
    display: flex;
    align-items: center;
    height: 90vh;
  }
  .medio__nosotros {
    display: flex;
    align-items: center;
    height: 85vh;
    .medio__texto {
      width: 80%;
      p {
        font-size: 2.7vw;
      }
    }
  }
  .medio__contacto {
    display: flex;
    align-items: center;
    height: 75vh;
    label, input, button, select, option {
      font-size: 2.5vw;
    }
  }
}
@media screen and (max-width: 576px) {
  .medio__index {
    display: flex;
    align-items: center;
    height: 90vh;
    .medio__wsp {
      margin-top: 96vh;
    }
    .medio__titular {
      font-size: 4vw;
      font-weight: 900;
      text-align: center;
      margin-bottom: 0;
    }
  }
  .medio__carta {
    display: flex;
    align-items: center;
    gap: 10vw 10vw;
    padding: 10vw 1vw;
    .carta__atras {
      font-size: 3vw;
    }
  }
  .carta__menu {
    width: 150px;
    height: 150px;
  }
  .medio__oferta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vw;
    padding: 20vw 1vw;
    .oferta__atras {
      font-size: 4vw;
    }
  }
  .oferta__menu {
    width: 200px;
    height: 200px;
  }
  .medio__carrito {
    display: flex;
    align-items: center;
    height: 90vh;
  }
  .medio__nosotros {
    display: flex;
    align-items: center;
    height: 90vh;
    .medio__texto {
      width: 90%;
      p {
        font-size: 3.6vw;
      }
    }
  }
  .medio__contacto {
    display: flex;
    align-items: center;
    height: 75vh;
    label, input, button, select, option {
      font-size: 3vw;
    }
  }
}